

<%- include("./partials/header")%>
<div class="ui main text container">
  <div class="item">
    <div class="content">
      <h3 class="header">Alright, who created this site?</h3>
      <!-- <div class="ui container"><img class="ui small image" src="IMG_6028.JPG"></div> -->
      <div class="ui ">
        <p>Meet the wonderful creator...</p>
        <!-- Add a img tag here -->
        <img class="ui medium rounded image" src="IMG_6028.JPG">
        <p>Hey guys! Thank you so much for visiting this blog site. I chose to do this blogpost especially for upcoming CS students and people interested in switching their careers to a CS related field, who would like to refer to a large collection of posts about the specific fields.


        CS is indeed a very broad field and it is very easy to get lost without a proper direction. Hence I had this urging need to let people explore the pros and cons, and uncover their hidden interests in certain topics of CS through this site.  

        Do feel free your ideas in CS by signing up and adding your posts to the topics!

      </p>
      </div>
      
    </div>
  </div>
</div>
<%- include("./partials/footer")%>